<html>

<head>
    <title>Livro de Receitas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark " style="background-color: #361157;">
        <a class="navbar-brand" href="#">Livro de Receita</a>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cadastro/receita">Cadastro de Receita</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/cadastro/ingrediente">Cadastro de Ingredientes</a>
            </li>
        </ul>
    </nav>
    <div class="p-2 mt-4 col-row text-center">
        <h3>Bem vindo ao Livro de Receitas!</h3>
    </div>
    <div class="col-row text-center">
        <a class="btn btn-primary" href="/cadastro/receita">Cadastrar nova receita</a>
        <a class="btn btn-primary" href="/cadastro/ingrediente">Cadastrar novo ingrediente</a>
    </div>

    <h4 class="p-3 mt-2 col-row text-center">Receitas</h4>

    <table id="lista" class="table table-bordered text-center">
        <tbody>
            {% for receita in receitas %}
            <tr>

                <td>{{receita.nome_receita}}</td>

                <!-- <td>
                    <a class="btn btn-danger" href="/receita/{{receita.id_receita}}"
                        style="width: inherit;">-></a>
                </td> -->
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalLong{{receita.id_receita}}">
                    Ver
                    </button>

                </td>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalEdit{{receita.id_receita}}">
                    Edit
                    </button>
                </td>
                <td>
                    <a class="btn btn-danger" href="/delete/receita/{{receita.id_receita}}"
                        style="width: inherit;">Deletar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
  
  <!-- Modal -->
  {% for receita in receitas %}
  <div class="modal fade" id="exampleModalLong{{receita.id_receita}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Receita de {{receita.nome_receita}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div>
                <div>
                    <div>
                        <div>
                            <h3>{{receita.nome_receita}}</h3>
                        </div>
                    </div>
                    <div>
                        <div>
                            <h4>Tempo de preparo</h4>
                            <p>{{receita.tempo}}</p>
                        </div>
                    </div>
                    <div>
                        <div>
                            <h4>Ingredientes</h4>
                            <ul>
                                {% for i in receita.ingredientes %}
                                <li>{{i.quantidade}} - {{i.ingredientes.nome}}</li>
                                {% endfor %}
                            </ul>
                        </div>
        
                    </div>
                    <div>
                        <div>
                            <h4>Modo de fazer</h4>
                            <p>{{receita.modo}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% for receita in receitas %}
  <!-- Modal -->
  <div class="modal fade" id="modalEdit{{receita.id_receita}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Alteração de ingrediente</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="/edit/receita/{{receita.id_receita}}" method = "POST">
        <div class="modal-body">
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Ingrediente:</label>
                <input type="text" name="_nome" class="form-control" id="nome_" value = "{{receita.nome_receita}}">
                <div class="form-group">
                    <label for="msg">Forma de preparo</label>
                    <textarea id="msg" name="_modo" class="form-control">{{receita.modo}}</textarea>
                  </div>
                  <div class="form-group">
                    <label for="tempo">Tempo de preparo</label>
                    <input type="text" class="form-control" placeholder="20 mins" id="tempo" name = "_tempo"  value = "{{receita.tempo}}"/>
                  </div>
                  <div>
                    {% for i in receita.ingredientes %}
                    <input type="checkbox" name="_igs" style="opacity:0;" value="{{i.ingredientes.id_ingrediente}}" checked>
                    <label name = "igs" for="{{i.ingredientes.id_ingrediente}}">{{i.ingredientes.nome}}</label><br>
                    <input type="text" class="form-control" value="{{i.quantidade}}" id="_qtd", name="_qtd" />
                    {% endfor %}
                  </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary">Alterar</button>
        </div>
    </form>
      </div>
    
    </div>
  </div>
  {% endfor %}
</body>

</html>